{% if layout == "layout2" %}
    <div class="featured-blog featured-blog--small text-left">
        <div class="featured-blog__content">
            {% if section.settings.blog_show_author or section.settings.blog_show_date %}
            <div class="featured-blog__meta">
                {% if section.settings.blog_show_date %}
                    <span class="featured-blog__meta--item featured-blog__date">
                        on {{ article.published_at | time_tag: format: 'date' }}
                    </span>
                {% endif %}
                {% if section.settings.blog_show_author %}
                    <span class="featured-blog__meta--item featured-blog__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}
            </div>
            {% endif %}
            <h3 class="featured-blog__title">
                <a href="{{ article.url }}" aria-label="link">{{ article.title }}</a>
            </h3>
            <div class="featured-blog__excerpt">
                {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                {% else %}
                    {{ article.content | strip_html | truncate: 80 }}&hellip;
                {% endif %}
            </div>
        </div>
    </div>
{% else %}
    <div class="featured-blog featured-blog--custom text-left">
        {% if article.image %}
            <div class="featured-blog__image">
                {% assign img_url = article.image | img_url: 'master' %}
                <a class="featured-blog__link image--hover" href="{{ article.url }}" aria-label="link">
                    <img class="lazyload"
                        data-srcset="{{ img_url }}"
                        data-sizes="auto"
                        alt="" data-image>
                </a>
            </div>
        {% endif %}
        <div class="featured-blog__content">
            {% if section.settings.blog_show_author or section.settings.blog_show_date %}
            <div class="featured-blog__meta">
                {% if section.settings.blog_show_date %}
                    <span class="featured-blog__meta--item featured-blog__date">
                        on {{ article.published_at | time_tag: format: 'date' }}
                    </span>
                {% endif %}
                {% if section.settings.blog_show_author %}
                    <span class="featured-blog__meta--item featured-blog__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}
            </div>
            {% endif %}
            <h3 class="featured-blog__title">
                <a href="{{ article.url }}" aria-label="link">{{ article.title }}</a>
            </h3>
            <div class="featured-blog__excerpt">
                {% if article.excerpt.size > 0 %}
                    {{ article.excerpt }}
                {% else %}
                    {{ article.content | strip_html | truncate: 80 }}&hellip;
                {% endif %}
            </div>
            <div class="featured-blog__button">
                <a href="{{ article.url }}" class="btn btn--secondary" aria-label="link">{{ 'blogs.article.read_more' | t }}</a>
            </div>
        </div>
    </div>
{% endif %}