<div id="login-form" class="login-form">
    <div class="login-form__header">
        <h2 class="title">{{ 'customer.account.title' | t }}</h2>
        <a href="javascript:void(0)" class="login-form__close" data-close-login-form-pc aria-label="close"><svg class="icon"><use xlink:href="#icon-chevron-up"/></svg></a>
        <a href="javascript:void(0)" class="login-form__close" data-close-login-form aria-label="close">&#215;</a>
    </div>
    <div class="login-form__content">
        <form accept-charset="UTF-8" action="/account/login" method="post">
            <input name="form_type" type="hidden" value="customer_login" />
            <input name="utf8" type="hidden" value="✓" />
            <div class="login-form__form">
                <div class="form-field">
                    <label class="form-label">
                        {{ 'customer.login.email' | t }} *
                    </label>
                    <input id="customer_email" class="form-control" type="email" value="" name="customer[email]">
                </div>
                <div class="form-field">
                    <label class="form-label">
                        {{ 'customer.login.password' | t }} *
                    </label>
                    <input id="customer_password" class="form-control" type="password" value="" name="customer[password]" >
                </div>
                <div class="form-actions text-center">
                    <input type="submit" class="btn btn--secondary" value="{{ 'customer.login.login' | t }}">
                    <a class="forgot-password" href="{{ routes.account_login_url }}#recover" aria-label="forgot password">
                        {{ 'customer.login.forgot_password' | t }}
                    </a>
                    <a class="btn btn--primary" href="{{ routes.account_register_url }}" aria-label="register">{{  'customer.register.create_account' | t }}</a>
                </div>
            </div>
        </form>
    </div>
</div>