<div class="product-card_compare" data-icon-compare data-compare-product-handle="{{ link }}" data-id="{{ id }}">
    <input id="compare_{{ id }}" class="compare" type="checkbox" name="compare">
    <label for="compare_{{ id }}">{{ 'general.compare.title' | t }}</label>
</div>