<div class="sidebarBlock">
    {% if block.settings.title != blank %}
    <h3 class="sidebarBlock__heading" data-toggle="collapse" href="#{{ block.id }}">
        <svg class="icon icon-dropdown"><use xlink:href="#icon-chevron-up" /></svg>
        {{ block.settings.title }}
    </h3>
    {% endif %}
    <div class="sidebarBlock__content show" id="{{ block.id }}">
        {% if block.settings.collection_id == 'show_all' %}
            <ul class="collection-list">
                {% for collection_list in collections limit: 15 %}
                    <li class="collection-list__item">
                        <a class="collection-list__action collection-list__action--end {% if collection.handle == collection_list.handle %}active{% endif %}" href="{{ collection_list.url }}" aria-label="link">{{ collection_list.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            {% assign collection_list = block.settings.link_list | handleize %}
            <ul class="collection-list">
                {% for link in linklists[collection_list].links %}
                    <li class="collection-list__item level-1 {% if link.active or link.child_active %}active-item{% endif %}">
                        {% if linklists[link.handle] == empty %}
                            <a class="collection-list__action collection-list__action--end {% if link.active %}active{% endif %}" href="{{ link.url }}" aria-label="link">{{ link.title }}</a>
                        {% else %}
                            <p class="collection-list__action--wrapper">
                                <a class="collection-list__action has-subMenu {% if link.active %}active{% endif %}" href="{{ link.url }}" aria-label="link">{{ link.title }}</a>
                                <svg class="icon icon-dropdown"><use xlink:href="#icon-chevron-right" /></svg>
                            </p>
                            {% render 'collection-dropdown', link: link.handle %}
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>