{% render 'breadcrumb', breadcrumb_top: true %}
<div class="container">
    <div class="page page-login">
        <div class="section-header text-left">
            <h2 class="title title--large">
                {{ 'customer.reset_password.title' | t }}
            </h2>
        </div>
        <div class="form-vertical">
            {% form 'reset_customer_password' %}

                <h3 class="loginTitle">{{ 'customer.reset_password.submit' | t }}</h3>

                <p class="loginDes">{{ 'customer.reset_password.subtext' | t: email: email }}</p>

                {%- if form.errors -%}
                    <div class="form-message form-message--error">
                        {{ form.errors | default_errors }}
                    </div>
                {%- endif -%}
                <div class="halo-column column-2">

                    <div class="halo-column__item">
                        <label for="ResetPassword" class="form-label">{{ 'customer.reset_password.password' | t }}</label>
                        <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}">
                    </div>
                    <div class="halo-column__item">
                        <label for="PasswordConfirmation" class="form-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}">
                    </div>
                </div>
                <div class="button-group">
                    <input type="submit" class="btn btn--primary btn--big" value="{{ 'customer.reset_password.submit' | t }}">
                </div>
            {% endform %}
        </div>
    </div>
</div>