{%- if comment.status == 'pending' -%}
    {%- assign number_of_comments = article.comments_count | plus: 1 -%}
{%- else -%}
    {%- assign number_of_comments = article.comments_count -%}
{%- endif -%}

<div class="sidebar_mobile_wrapper">
    <div class="sidebar_mobile">
        <span class='text'>{{ 'general.sidebar.title' | t }}:</span>
        <svg class="icon"><use xlink:href="#icon-sidebar" /></svg>
    </div>
</div>
<article class="article">
    {% if article.image %}
        <div class="article__image">
            <a href="{{ article.url }}">
                <img id="{{ img_id }}" srcset="{{ article.image | img_url: 'master' }}" alt="">
            </a>
        </div>
    {% endif %}
    <div class="article__content">
        <div class="article__header">
            {% if 
            section.settings.blog_show_author or 
            section.settings.blog_show_date or 
            section.settings.show_blog_categories or 
            section.settings.show_blog_comment 
            %}
            <div class="featured-blog__meta">
                {% if section.settings.blog_show_author %}
                    <span class="featured-blog__meta--item featured-blog__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
                {% endif %}
                {% if section.settings.blog_show_date %}
                    <span class="featured-blog__meta--item featured-blog__date">
                        on {{ article.published_at | time_tag: format: 'date' }}
                    </span>
                {% endif %}
                {% if section.settings.show_blog_categories %}
                    <span class="featured-blog__meta--item featured-blog__author {% if section.settings.blog_show_author or 
                section.settings.blog_show_date %}has-icon{% endif %}">{{ 'blogs.article.by_categories' | t: categories: blog.title }}</span>
                {% endif %}
                {% if section.settings.show_blog_comment %}
                    {%- if comment.status == 'pending' -%}
                        {%- assign number_of_comments = article.comments_count | plus: 1 -%}
                    {%- else -%}
                        {%- assign number_of_comments = article.comments_count -%}
                    {%- endif -%}
                    <span class="featured-blog__meta--item article__comment {% if section.settings.blog_show_author or 
                section.settings.blog_show_date or section.settings.show_blog_categories %}has-icon{% endif %}">{{ 'blogs.comments.comments_with_count' | t: count: number_of_comments }}</span>
                {% endif %}
            </div>
            {% endif %}
            <h2 class="article__title"><a href="{{ article.url }}">{{ article.title }}</a></h2>
        </div>
        <div class="article__body ">
            <div class="rte">
                {{ article.content }}
            </div>
            <div class="article-lookbook">
                <div class="article-lookbook_top">
                    <h3 class="title">{{ section.settings.quote_title }}</h3>
                    <blockquote>{{ section.settings.quote_des }}</blockquote>
                </div>
                <div class="article-lookbook_center">
                    <h3 class="title">{{ section.settings.gallery_lb_title }}</h3>
                    <div class="article-lookbook_gallery">
                        <div class="has-lookbook_gallery halo-row" 
                            data-slick-pc data-slick='{
                               "rows": 0,
                                "rtl": false,
                                "dots": true,
                                "arrows": false,
                                "infinite": false,
                                "adaptiveHeight": true,
                                "slidesToShow": 2,
                                "slidesToScroll": 1
                            }'>
                            {% for block in section.blocks %}
                                <div class="has-lookbook_gallery-item">
                                    <div class="hero__image {% if block.settings.image_1 == blank %}no-image{% endif %}">
                                        {% if block.settings.image_1 == blank %}
                                            <div class="placeholder-background">
                                                <span class="recommended_size">500x500</span>
                                                {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                                            </div>
                                        {% else %}
                                            {% assign img_url = block.settings.image_1 | img_url: '500x500' %}
                                            <img class="hero__image--background lazyload" data-srcset="{{ img_url }}" alt="" data-image>
                                        {% endif %}
                                    </div>
                                    {% for i in (1..3) %}
                                        {% capture cap_product %}lb_product_1_{{ i }}{% endcapture %}
                                        {% assign product_id = block.settings[cap_product] %}
                                        {% assign product = all_products[product_id] %}
                                        {% capture cap_coordinates_y %}top_position_1_{{ i }}{% endcapture %}
                                        {% assign coordinates_y = block.settings[cap_coordinates_y] %}
                                        {% capture cap_coordinates_x %}left_position_1_{{ i }}{% endcapture %}
                                        {% assign coordinates_x = block.settings[cap_coordinates_x] %}
                                        {% if product != blank %}
                                        <div class="hero__points-popup" style="top: {{ coordinates_y }}%; left: {{ coordinates_x }}%;">
                                            <div class="point"> + </div>
                                            <div class="custom-product-card">
                                                {% render 'product-card-grid-4' with product as product %}
                                            </div>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="hero__popup">
                        </div>
                    </div>
                    {% if section.settings.enable_button %}
                        <div class="button_lookbook">
                            <a class="btn btn--primary" href="{{ section.settings.button_link }}">{{ section.settings.button_text }}</a>
                        </div>
                    {% endif %}
                </div>
                <div class="article-lookbook_bottom">
                    <h3 class="title">{{ section.settings.quote_title_2 }}</h3>
                    <p>{{ section.settings.quote_des_2 }}</p>
                </div>
            </div>
            <div class="article__body--wrapper"> 
                {% if section.settings.show_share_buttons %}
                    <div class="article__body--item">
                        <h4>{{ 'general.social.share' | t }}:</h4>
                        <div class="social-sharing">
                            {{ settings.embed_code_share }}
                        </div>
                    </div>
                {% endif %}

                {% if article.tags.size > 0 %}
                    <div class="article__body--item">
                        <h4>{{ 'blogs.article.tags' | t }}:</h4>
                        <ul class="tags">
                            {% for tag in article.tags %}
                                <li class="tags__item">
                                    <a href="{{ blog.url }}/tagged/{{ tag | handle }}">
                                        <svg class="icon"><use xlink:href="#icon-search"></use></svg>
                                        <span>{{ tag }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if blog.next_article or blog.previous_article %}
            <div class="article__pagination">
                <div class="article__pagination--item text-left">
                    <a class="btn btn--primary btn--prev" href="{{ blog.previous_article }}" {% unless blog.previous_article %}disabled{% endunless %}>
                        <span class="text"> {{ 'blogs.article.older_post' | t }}</span>
                    </a>
                </div>
                <div class="article__pagination--item text-right">
                    <a class="btn btn--primary btn--next" href="{{ blog.next_article }}" {% unless blog.next_article %}disabled{% endunless %}>
                        <span class="text">{{ 'blogs.article.newer_post' | t }} </span>
                    </a>
                </div>
            </div> 
        {% endif %}
        {% if blog.comments_enabled? %}
            {% if number_of_comments > 0 %}
                <div class="comments-wrapper">
                    {% paginate article.comments by 5 %}
                    <div class="section-header text-left">
                        <h2 class="title">{{ 'blogs.comments.comments_with_count' | t: count: '' }}</h2>
                    </div>
                    <ul class="list-comments" id="comments">
                        {% for comment in article.comments %}
                            <li id="{{ comment.id }}" class="comment{% unless number_of_comments > article.comments_count %}{% if forloop.first %} first{% endif %}{% endunless %}{% if forloop.last %} last {% endif %}">
                                {% render 'comment', comment: comment %}
                            </li>
                        {% endfor %}
                    </ul>

                    {% if paginate.pages > 1 %}
                        {% render 'pagination', paginate: paginate %}
                    {% endif %}

                    {% endpaginate %}
                </div>
            {% endif %}
            <div class="comment-form form-vertical {{blog.moderated?}}--{{ comment.status }}">
                {% form 'new_comment', article %}

                    {%- assign formId = 'CommentForm' -%}
                    <div class="section-header text-left">
                        <h2 class="title">{{ 'blogs.comments.title' | t }}</h2>
                    </div>

                    {%- assign post_message = 'blogs.comments.success' -%}
                    {%- if blog.moderated? and comment.status == 'pending' -%}
                        {%- assign post_message = 'blogs.comments.success_moderated' -%}
                    {%- elsif comment.status == 'unapproved' or comment.status == 'spam' -%}
                        {%- assign post_message = 'blogs.comments.unapproved' -%}
                    {%- endif -%}

                    {% render 'form-status', form: form, form_id: formId, success_message: post_message %}

                    {% if blog.moderated? %}
                        <p class="fine-print">{{ 'blogs.comments.moderated' | t }}</p>
                    {% endif %}

                    <div class="halo-column column-2">

                        <div class="halo-column__item">
                            <label for="{{ formId }}-author" class="form-label">{{ 'blogs.comments.name' | t }}</label>
                            <input type="text" name="comment[author]" id="{{ formId }}-author" class="input-full form-control{% if form.errors contains 'author' %} input--error{% endif %}" value="{{ form.author }}"{% if form.errors contains 'author' %} aria-invalid="true" aria-describedby="{{ formId}}-author-error"{% endif %}>
                            {% if form.errors contains 'author' %}
                                <span id="{{ formId}}-author-error" class="input-error-message"><svg class="icon"><use xlink:href="#icon-error" /></svg> {{ 'blogs.comments.name' | t }} {{ form.errors.messages['author'] }}.</span>
                            {% endif %}
                        </div>

                        <div class="halo-column__item">
                            <label for="{{ formId }}-email" class="form-label">{{ 'blogs.comments.email' | t }}</label>
                            <input type="email" name="comment[email]" id="{{ formId }}-email" class="input-full form-control{% if form.errors contains 'email' %} input--error{% endif %}" value="{{ form.email }}" autocapitalize="off" {% if form.errors contains 'email' %} aria-invalid="true" aria-describedby="{{ formId}}-email-error"{% endif %} >
                            {% if form.errors contains 'email' %}
                                <span id="{{ formId}}-email-error" class="input-error-message"><svg class="icon"><use xlink:href="#icon-error" /></svg> {{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
                            {% endif %}
                        </div>

                        <div class="halo-column__item halo-column__item--full">
                            <label for="{{ formId }}-body" class="form-label">{{ 'blogs.comments.message' | t }}</label>
                            <textarea name="comment[body]" id="{{ formId }}-body" class="input-full form-control{% if form.errors contains 'body' %} input--error{% endif %}"{% if form.errors contains 'body' %} aria-invalid="true" aria-describedby="{{ formId}}-body-error"{% endif %}>{{ form.body }}</textarea>
                            {% if form.errors contains 'body' %}
                                <span id="{{ formId}}-body-error" class="input-error-message"><svg class="icon"><use xlink:href="#icon-error" /></svg> {{ 'blogs.comments.message' | t }} {{ form.errors.messages['body'] }}.</span>
                            {% endif %}
                        </div>

                    </div>

                    <input type="submit" class="btn btn--primary btn--large" value="{{ 'blogs.comments.post' | t }}">
                {% endform %}
            </div>
        {% endif %}
    </div>
</article>

<script type="application/ld+json">
{
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
        "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
        {% assign image_size = article.image.width | append: 'x' %}
        "image": [
            {{ article | img_url: image_size | prepend: "https:" | json }}
        ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
        "@type": "Person",
        "name": {{ article.author | json }}
    },
    "publisher": {
        "@type": "Organization",
        {% if settings.share_image %}
            {% assign image_size = settings.share_image.width | append: 'x' %}
            "logo": {
                "@type": "ImageObject",
                "height": {{ settings.share_image.height | json }},
                "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
                "width": {{ settings.share_image.width | json }}
            },
        {% endif %}
        "name": {{ shop.name | json }}
    }
}
</script>

{% schema %}
{
    "name": "Blog Content",
    "class": "page-content",
    "settings": [
        {
            "type": "checkbox",
            "id": "blog_show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "blog_show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_blog_categories",
            "label": "Show blog categories",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_blog_comment",
            "label": "Show number Comment",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "show_share_buttons",
            "label": "Show social sharing buttons",
            "default": true
        },
        {
            "type": "header",
            "content": "Lookbook Description in Blog Detail"
        },
        {
            "type": "checkbox",
            "id": "dpl_lookbook_description",
            "label": "Display Lookbook Description?",
            "default": true
        },
        {
            "type": "text",
            "id": "quote_title",
            "label": "Quote Title Top"
        },
        {
            "type": "textarea",
            "id": "quote_des",
            "label": "Quote Description Top"
        },
        {
            "type": "text",
            "id": "quote_title_2",
            "label": "Quote Title Bottom"
        },
        {
            "type": "textarea",
            "id": "quote_des_2",
            "label": "Quote Description Bottom"
        },
        {
            "type": "header",
            "content": "LookBook Gallery in Blog Detail"
        },
        {
            "type": "checkbox",
            "id": "dpl_gallery_lookbook",
            "label": "Display LookBook Gallery?",
            "default": true
        },
        {
            "type": "text",
            "id": "gallery_lb_title",
            "label": "Title",
            "default": "LookBook Gallery"
        },
        {
            "type": "checkbox",
            "id": "enable_button",
            "label": "Enable Button",
            "default": true
        },
        {
            "type": "text",
            "id": "button_text",
            "label": "Button Text",
            "default": "Button text"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],

    "blocks" : [
      {
        "type": "image",
        "name": "LookBook Gallery",
        "settings":[                    
          {
            "type" : "header",
            "content" : "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_1",
            "label" : "Select Image",
            "info": "Recommended Image: Width x Height (500 x 500)px"
          },            
          {
            "type" : "header",
            "content" : "Product"
          },
          {
            "type" : "product",
            "id" : "lb_product_1_1",
            "label" : "Select Product"
          },
          {
            "type" : "text",
            "id" : "top_position_1_1",
            "label" : "Top Position",
            "default" : "10",
            "info" : "Unit %" 
          },
          {
            "type" : "text",
            "id" : "left_position_1_1",
            "label" : "Left Position",
            "default" : "10",
            "info" : "Unit %" 
          },

          {
            "type" : "header",
            "content" : "Product 2"
          },
          {
            "type" : "product",
            "id" : "lb_product_1_2",
            "label" : "Select Product"
          },
          {
            "type" : "text",
            "id" : "top_position_1_2",
            "label" : "Top Position",
            "default" : "10",
            "info" : "Unit %" 
          },
          {
            "type" : "text",
            "id" : "left_position_1_2",
            "label" : "Left Position",
            "default" : "10",
            "info" : "Unit %" 
          },

          {
            "type" : "header",
            "content" : "Product 3"
          },
          {
            "type" : "product",
            "id" : "lb_product_1_3",
            "label" : "Select Product"
          },
          {
            "type" : "text",
            "id" : "top_position_1_3",
            "label" : "Top Position",
            "default" : "10",
            "info" : "Unit %" 
          },
          {
            "type" : "text",
            "id" : "left_position_1_3",
            "label" : "Left Position",
            "default" : "10",
            "info" : "Unit %" 
          }
        ]
      }
    ]
}
{% endschema %}