{% if section.settings.background-color %}
    {% assign background_color = 'halo-section-background-gray' %}
{% endif %}

{% if section.settings.border-top %}
    {% assign border_top = 'halo-section-border-top' %}
{% endif %}

{% if section.settings.border-bottom %}
    {% assign border_bottom = 'halo-section-border-bottom' %}
{% endif %}

{% assign top = top | default: section.settings.top %}
{% assign bottom = bottom | default: section.settings.bottom %}

{% assign layout = layout | default: section.settings.layout %}
{% assign column = column | default: section.settings.column %}
{% assign arrows = arrows | default: section.settings.carousel-arrows %}
{% assign dots = dots | default: section.settings.carousel-dots %}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .section-header .title {
        color: {{ section.settings.color_heading }}
    }

    [data-section-id='{{ section.id }}'] .section-header > p {
        color: {{ section.settings.color_text }}
    }

    [data-section-id='{{ section.id }}'] .section-header .btn {
        color: {{ section.settings.color_btn_text }};
        border-color: {{ section.settings.color_btn_border }};
        background-color: {{ section.settings.color_btn_bg }};
    }

    [data-section-id='{{ section.id }}'] .section-header .btn:hover {
        filter: brightness(85%);
    }
</style>
{% endif %}

<div class="halo-section padding-top-{{ top }} padding-bottom-{{ bottom }} {{ background_color }} {{ border_top }} {{ border_bottom }}" data-section-id="{{ section.id }}" data-section-type="featured-blog">
    <div class="container">
        {% if section.settings.title != blank %}
            <div class="section-header text-center">
                <h2 class="title">{{ section.settings.title }}</h2>
                {% if section.settings.description != blank %}
                    <p>{{ section.settings.description }}</p>
                {% endif %}
                {% if section.settings.button != blank %}
                    <a href="{{ section.settings.button_link }}" class="btn btn--primary" aria-label="link">
                        {{ section.settings.button }}
                    </a>
                {% endif %}
            </div>
        {% endif %}
        {% assign blog = blogs[section.settings.blog] %}
        {% unless blog.articles_count == 0 %}
            {%if layout == 'carousel' %}
                <div class="halo-row column-{{ column }}"
                    data-slick-pc data-slick='{
                       "rows": 0,
                        "rtl": false,
                        "dots": {{ dots }},
                        "arrows": {{ arrows }},
                        "infinite": false,
                        "adaptiveHeight": true,
                        "slidesToShow": {{ column }},
                        "slidesToScroll": 1,
                        "prevArrow": "<div class=&apos;slick-prev slick-arrow slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>",
                        "nextArrow": "<div class=&apos;slick-next slick-arrow slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
                    }'>
                    {% for article in blog.articles limit: section.settings.post_limit %}
                        <div class="halo-row__item">
                            {% render 'featured-blog-item-1' with article as article %}
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="halo-column column-{{ column }}">
                    {% for article in blog.articles limit: section.settings.post_limit %}
                        <div class="halo-column__item">
                            {% render 'featured-blog-item-1' with article as article %}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}    
        {% else %}
            <div class="halo-row column-{{ column }}"
                data-slick-pc data-slick='{
                    "rows": 0,
                    "rtl": false,
                    "dots": {{ dots }},
                    "arrows": {{ arrows }},
                    "infinite": false,
                    "adaptiveHeight": true,
                    "slidesToShow": {{ column }},
                    "slidesToScroll": 1,
                    "prevArrow": "<div class=&apos;slick-prev slick-arrow  slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                    "nextArrow": "<div class=&apos;slick-next slick-arrow  slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
                }'>
                {% for i in (1..section.settings.post_limit) %}
                    <div class="halo-row__item">
                        <div class="featured-blog text-center">
                            <div class="featured-blog__image">
                                <span class="recommended_size">770x570</span>
                                {{ 'lifestyle-1' | placeholder_svg_tag: 'placeholder-svg' }}
                            </div>
                            <div class="featured-blog__content">
                                <h3 class="featured-blog__title"><a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a></h3>
                                <div class="featured-blog__meta">
                                    {% if section.settings.blog_show_author %}
                                        <span class="featured-blog__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
                                    {% endif %}
                                </div>
                                <div class="featured-blog__excerpt">
                                    {{ 'homepage.onboarding.blog_excerpt' | t }} &hellip;
                                </div>
                                <div class="featured-blog__button">
                                    <a href="#" class="btn btn--primary" aria-label="link" {% if settings.enable_multilang %}data-translate="blogs.article.read_more"{% endif %}>{{ 'blogs.article.read_more' | t }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endunless %}
    </div>
</div>

{% schema %}
{
    "name": "Blog posts",
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Color Custom",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "top",
            "label": "Spacing Top",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom",
            "label": "Spacing bottom",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Featured Blog"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        },
        {
            "type": "text",
            "id": "button",
            "label": "Button"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "select",
            "id": "layout",
            "label": "Layout",
            "default": "carousel",
            "options": [
                {
                    "value": "grid",
                    "label": "Grid"
                },
                {
                    "value": "carousel",
                    "label": "Carousel"
                }
            ]
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column",
            "min": 1,
            "max": 4,
            "step": 1,
            "default": 3
        },
        {
            "type": "range",
            "id": "post_limit",
            "label": "Posts limit",
            "min": 2,
            "max": 12,
            "step": 1,
            "default": 2
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "show arrows (Layout carousel)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "show dots (Layout carousel)",
            "default": false
        },
        {
            "type": "header",
            "content": "Blog style"
        },
        {
            "type": "blog",
            "id": "blog",
            "label": "Blog"
        },
        {
            "type": "checkbox",
            "id": "blog_show_author",
            "label": "Show author",
            "default": true
        },
        {
            "type": "checkbox",
            "id": "blog_show_date",
            "label": "Show date",
            "default": true
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_btn_text",
            "label": "Button Color"
        },
        {
            "type": "color",
            "id": "color_btn_border",
            "label": "Button Border Color"
        },
        {
            "type": "color",
            "id": "color_btn_bg",
            "label": "Button Background Color"
        }
    ],
    "presets": [
        {
            "name": "Blog posts",
            "category": "Blog",
            "settings": {
                "blog": "News",
                "post_limit": 2
            }
        }
    ]
}
{% endschema %}
