{% if section.settings.background-color %}
    {% assign background_color = 'halo-section-background-gray' %}
{% endif %}

{% if section.settings.border-top %}
    {% assign border_top = 'halo-section-border-top' %}
{% endif %}

{% if section.settings.border-bottom %}
    {% assign border_bottom = 'halo-section-border-bottom' %}
{% endif %}

{% assign top = top | default: section.settings.top %}
{% assign bottom = bottom | default: section.settings.bottom %}

{% if section.settings.custom_color %}
<style>
    [data-section-id='{{ section.id }}'] .section-header .title {
        color: {{ section.settings.color_heading }};
    }

    [data-section-id='{{ section.id }}'] .section-header > p {
        color: {{ section.settings.color_text }};
    }

    [data-section-id='{{ section.id }}'] .section-header .btn {
        color: {{ section.settings.color_btn_text }};
        border-color: {{ section.settings.color_btn_border }};
        background-color: {{ section.settings.color_btn_bg }};
    }

    [data-section-id='{{ section.id }}'] .section-header .btn:hover {
        filter: brightness(85%);
    }
</style>
{% endif %}


<div class="halo-section padding-top-{{ top }} padding-bottom-{{ bottom }} {{ background_color }} {{ border_top }} {{ border_bottom }}" data-section-id="{{ section.id }}" data-section-type="image-with-text-2">
    {% for block in section.blocks %}
        <div class="image-with-text-2{% if block.settings.layout == 'right' %} image-with-text-2--right{% endif %}">
            <div class="image-with-text-2__image"{% if block.settings.image != blank %} style="background-image: url({{ block.settings.image | img_url: 'master' }});"{% endif %}>
                {% if block.settings.image == blank %}
                    <div class="placeholder-background">
                        {{ 'lifestyle-2' | placeholder_svg_tag: 'placeholder-svg' }}
                    </div>
                {% endif %}
            </div>
            <div class="image-with-text-2__content">
                <div class="section-header">
                    {% if block.settings.subtitle != blank %}
                        <h5 class="subtitle">{{ block.settings.subtitle }}</h5>
                    {% endif %}
                    {% if block.settings.title != blank %}
                        <h2 class="title">{{ block.settings.title }}</h2>
                    {% endif %}
                    {% if block.settings.description != blank %}
                        <p>{{ block.settings.description }}</p>
                    {% endif %}
                    {% if block.settings.button != blank %}
                        <a href="{{ block.settings.button_link }}" class="btn btn--primary" aria-label="link">
                            {{ block.settings.button }}
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% schema %}
{
    "name": "Image With Text 2",
    "max_blocks": 4,
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "background-color",
            "label": "Background Color Custom",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "top",
            "label": "Spacing Top",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom",
            "label": "Spacing bottom",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Custom Color"
        },
        {
            "type": "checkbox",
            "id": "custom_color",
            "label": "Turn on custom color",
            "default": false
        },
        {
            "type": "color",
            "id": "color_heading",
            "label": "Heading Color"
        },
        {
            "type": "color",
            "id": "color_text",
            "label": "Description Color"
        },
        {
            "type": "color",
            "id": "color_btn_text",
            "label": "Button Color"
        },
        {
            "type": "color",
            "id": "color_btn_border",
            "label": "Button Border Color"
        },
        {
            "type": "color",
            "id": "color_btn_bg",
            "label": "Button Background Color"
        }
    ],
    "blocks": [
        {
            "type": "image_item",
            "name": "Another Image",
            "settings": [
                {
                    "type": "header",
                    "content": "Layout"
                },
                {
                    "type": "select",
                    "id": "layout",
                    "label": "Layout",
                    "default": "left",
                    "options": [
                        {
                            "value": "left",
                            "label": "Image Left"
                        },
                        {
                            "value": "right",
                            "label": "Image Right"
                        }
                    ]
                },
                {
                    "type": "header",
                    "content": "Banner Image"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "header",
                    "content": "Content"
                },
                {
                    "type": "text",
                    "id": "subtitle",
                    "label": "SubTitle"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Image With Text"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "button",
                    "label": "Button"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button link"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image With Text 2",
            "category": "Images",
            "blocks": [
                {
                    "type": "image_item"
                }
            ]
        }
    ]
}
{% endschema %}
