{% if section.settings.enable_layout %}
    {% if section.settings.border-top %}
        {% assign border_top = 'halo-section-border-top' %}
    {% endif %}

    {% if section.settings.border-bottom %}
        {% assign border_bottom = 'halo-section-border-bottom' %}
    {% endif %}

    {% assign top = top | default: section.settings.top %}
    {% assign bottom = bottom | default: section.settings.bottom %}

    {% assign collection = collections[section.settings.collection] %}
    {% assign product_limit = product_limit | default: section.settings.limit %}

    {% assign column = column | default: section.settings.column %}
    {% assign arrows = arrows | default: section.settings.carousel-arrows %}
    {% assign dots = dots | default: section.settings.carousel-dots %}

    {% if section.settings.custom_color %}
    <style>
        [data-section-id='{{ section.id }}'] .section-header .title {
            color: {{ section.settings.color_heading }};
        }

        [data-section-id='{{ section.id }}'] .section-header > p {
            color: {{ section.settings.color_text }};
        }

        [data-section-id='{{ section.id }}'] .section-header .btn {
            color: {{ section.settings.color_btn_text }};
            border-color: {{ section.settings.color_btn_border }};
            background-color: {{ section.settings.color_btn_bg }};
        }

        [data-section-id='{{ section.id }}'] .section-header .btn:hover {
            filter: brightness(85%);
        }
    </style>
    {% endif %}

    {% assign img_url = section.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' %}

    <div class="halo-section padding-top-{{ top }} padding-bottom-{{ bottom }} {{ border_top }} {{ border_bottom }}" data-section-id="{{ section.id }}" data-section-type="lookbook-product">
        {% if section.settings.title != blank %}
            <div class="section-header text-center">
                <h2 class="title">{{ section.settings.title }}</h2>
                {% if section.settings.link != blank %}
                    <a class="link" href="{{ collection.url }}">{{ section.settings.link }}</a>
                {% endif %}
            </div>
        {% endif %}
        <div class="halo-row column-{{ column }}"
            data-slick-pc data-slick='{
                "rows": 0,
                "rtl": false,
                "dots": {{ dots }},
                "arrows": {{ arrows }},
                "infinite": false,
                "adaptiveHeight": true,
                "slidesToShow": {{ column }},
                "slidesToScroll": 1,
                "prevArrow": "<div class=&apos;slick-prev slick-arrow slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-left&apos; /></svg></div>", 
                "nextArrow": "<div class=&apos;slick-next slick-arrow slick-arrow--large&apos;><svg class=&apos;icon&apos;><use xlink:href=&apos;#icon-chevron-right&apos; /></svg></div>"
            }'>
            {% for product in collection.products limit: product_limit %}
                <div class="halo-row__item">
                    {% render 'product-card-grid' with product as product, serial: forloop.index %}
                </div>
            {% else %}
                {% for i in (1..product_limit) %}
                    <div class="halo-row__item">
                        <div class="product-card">
                            <div class="product-card__image">
                                <a class="product-card__link" href="#">
                                    {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                                    {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                                </a>
                            </div>
                            <div class="product-card__content">
                                <h4 class="product-card__title">{{ 'homepage.onboarding.product_title' | t }}</h4>
                                {% render 'product-price', variant: nil %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>
    </div>
{% endif %}


{% schema %}
{
    "name": "Lookbook Product",
    "settings": [
        {
            "type": "header",
            "content": "Section Layout"
        },
        {
            "type": "checkbox",
            "id": "enable_layout",
            "label": "Enable Layout",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-top",
            "label": "show border top",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "border-bottom",
            "label": "show border bottom",
            "default": false
        },
        {
            "type": "range",
            "id": "top",
            "label": "Spacing Top",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "range",
            "id": "bottom",
            "label": "Spacing bottom",
            "default": 30,
            "min": 0,
            "max": 100,
            "step": 10,
            "unit": "px"
        },
        {
            "type": "header",
            "content": "Heading Section"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Product List"
        },
        {
            "type": "text",
            "id": "link",
            "label": "Button"
        },
        {
            "type": "header",
            "content": "Layout"
        },
        {
            "type": "collection",
            "id": "collection",
            "label": "Collection Show"
        },
        {
            "type": "select",
            "id": "collection_layout",
            "label": "Layout",
            "default": "carousel",
            "options": [
                {
                    "value": "grid",
                    "label": "Grid"
                },
                {
                    "value": "carousel",
                    "label": "Carousel"
                }
            ]
        },
        {
            "type": "range",
            "id": "column",
            "label": "Column show",
            "min": 1,
            "max": 6,
            "step": 1,
            "default": 4
        },
        {
            "type": "range",
            "id": "limit",
            "label": "Limit product",
            "min": 1,
            "max": 20,
            "step": 1,
            "default": 6
        },
        {
            "type": "checkbox",
            "id": "carousel-arrows",
            "label": "show arrows (Layout carousel)",
            "default": false
        },
        {
            "type": "checkbox",
            "id": "carousel-dots",
            "label": "show dots (Layout carousel)",
            "default": false
        }
    ]
}
{% endschema %}
